{% load themes_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<p><h2><a href = "{% url 'feed' %}">LILITH</a></h2></p>

{% if user.is_authenticated %}
    <p><a href="{% url 'account_logout' %}">Logout</a></p>
{% else %}
    <p><a href="{% url 'account_login' %}">Login</a>
    -
    <a href="{% url 'account_signup' %}">Signup</a></p>
{% endif %}
<p>------------</p>
<p><a href="{% url 'new_post'%}">Create post</a> </p>
<p>------------</p>
{% get_themes as themes%}
{% for theme in themes %}
    <p><a href="{{ theme.get_absolute_url }}"> {{ theme.theme }}</a></p>
{% endfor %}
{% block content %}

{% endblock %}
</body>
</html>